# Ignore everything
/**

# Except...

!README.md
!/.gitignore

!/.config/

!/.config/alacritty/
!/.config/alacritty/**

!/.config/spicetify/
!/.config/spicetify/Themes/
!/.config/spicetify/Themes/**

!/.config/jetbrains/
!/.config/jetbrains/**
