# Ignore everything
/**

# Except...

!README.md
!/.gitignore

!/.scripts/
!/.scripts/**

!/.config/

!/.config/starship.toml

!/.config/alacritty/
!/.config/alacritty/**

!/.config/spicetify/
!/.config/spicetify/Themes/
!/.config/spicetify/Themes/**

!/.config/jetbrains/
!/.config/jetbrains/**

!/.config/bspwm/
!/.config/bspwm/**

!/.config/rofi/
!/.config/rofi/**

!/.config/sxhkd/
!/.config/sxhkd/**

!/.config/fish/
!/.config/fish/**

!/.config/nvim/
!/.config/nvim/**

!/.config/conky/
!/.config/conky/**

!/.config/zathura/
!/.config/zathura/**
