# Ignore everything
/**

# Except...

!README.md
!/.gitignore

!/.bin/
!/.bin/**

!/.spicetify_data/
!/.spicetify_data/**

!/.config/

!/.config/starship.toml

!/.config/jetbrains/
!/.config/jetbrains/**

!/.config/fish/
!/.config/fish/**

!/.config/nvim/
!/.config/nvim/**

!/.config/iterm2/
!/.config/iterm2/**
